

body {
    //background: linear-gradient(to right, hwb(240 55% 0%), hwb(273 85% 0%), );
    //background-color: $primary-bg-color;
    background-size: auto;
    height: 100dvh;
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
    position: static;
    display: flex;
    flex-flow: column nowrap;
}

main {
    @extend .grid-center;
    max-width: 100%;
    max-height: 90%;

}


nav {
    //border: 1px solid blue;
    box-sizing: content-box;
    
    height: 10% !important;
    gap: 30px !important;
    
    letter-spacing: 1.1px;
    display: flex;
    flex-flow: row nowrap;
    

    >div {
        
        width: auto;
        justify-content: flex-start;
        
        
        padding: 0 30px;
        &:last-of-type {
            display: flex;
            align-items: center;
            
            justify-self: flex-end;

        }
    }

    * {
        max-height: 5rem;
    }

    h6 {
        display: grid;
        align-items: center;
        font-size: 1.3rem !important;
        padding: 5px;
        height: 100%;
        transition: $ease-in;
        color: $secondary-color;
        font-weight: 500;
        overflow: hidden;

        &:hover {
            filter: brightness(1.7);
            cursor: pointer;
        }
    }

    svg {
        max-height: 30px;
        max-width: 30px;
    }
    
}