.menu-box{
    background-color: $primary-color;
    max-width: 12rem;
    position: sticky;
    border-radius: 15px;
    color: $secondary-color;
    padding: 30px 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    > div {
        width: 100%;
        gap: 18px;
        display: flex;
        flex-flow: column nowrap;
    }
    .menu-item{
        font-weight: 400;
        letter-spacing: 0.4px;
        font-size: 13px;
        text-transform: uppercase;
        padding: 0 30px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        transform-origin: bottom;
        cursor: pointer;
        transition: $ease-in;
        &:hover{
            filter: brightness(1.5);
            transform: scale(1.03);
        }

        .name{
            @extend .grid-center;
            grid-template-columns: 1fr 50px minmax(100px, 200px) 1fr;
            > svg {
                grid-column: 2/3;
                display: flex;
                
            }
            > h4 {
                grid-column: 3/4;
                display: flex;
                text-align: left;
            }
        }
    }
}